

.titulo{
  position: absolute;
   text-align: center;

margin-top: 20px;
margin-left: 36%;
}

.img{

  position: relative;
    margin-top: 120px;
  margin-bottom: 40px;
  margin-left: 35%;
  border-radius: 5px;
}
